body {
    font-family: 'Segoe UI', sans-serif;
}
.darkpage {
    background-color: #23232E;
    color: #FFFFFF;
    text-align: center;
}
.logo {
    padding-top: 4%;
    padding-bottom: 4%;
}
.button {
    padding-top: 12%;
    padding-bottom: 5%;
}
.darkpage h1 {
    font-size: 100px;
}
.pDESCRIPTION {
    font-size: 20px;
}
main {
    background: url("img/bg.png");
}
.vlad {
    padding: 5% 22.7%;
    font-size: 25px;
    color: #464B54;
    line-height: 145%;
    text-align: center;
}
h2 {
    font-size: 100px;
    text-align: center;
    color: #464B54;
}
#mar-left {
    margin-left: 15%;
}
.footer {
    display: inline-block;
    width: 24%;
    vertical-align: top;
    color: #464B54;
    padding-bottom: 5%;

}
.H {
    font-weight: 700;
    font-size: 25px;
}
.end {
    font-size: 18px;
    line-height: 140%;
    margin-right: 2%;

}
